.cardWinner {
  height: auto;
  min-height: 400px;
  width: 300px;
  background-color: #242424;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
}
.cardWinner h1 {
  font-size: x-large;
  color: gold;
  font-family: "marioBros";
}
.imgWinner {
  height: 200px;
  width: 240px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#Mario {
  background-image: url(../../assets/img/win/MarioWin.png);
}
#Luigi {
  background-image: url(../../assets/img/win/LuigiWin.png);
}
#Bowser {
  background-image: url(../../assets/img/win/BowserWin.png);
}
#Peach {
  background-image: url(../../assets/img/win/PeachWin.png);
}
#Toad {
  background-image: url(../../assets/img/win/ToadWin.png);
}
