.cardWinner {
  height: auto;
  min-height: 400px;
  width: 300px;
  background-color: white;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: -1;
}
.imgWinner {
  height: 200px;
  width: 150px;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}
#Mario {
  background-image: url(../../../public/marioWin.png);
}
#Luigi {
  background-image: url(../../../public/luigiWin.png);
}
#Bowser {
  background-image: url(../../../public/bowserWin.png);
}
#Peach {
  background-image: url(../../../public/winPeach.png);
}
#Toad {
  background-image: url(../../../public/toadWin.png);
}
