body {
  margin: 0;
}
main {
  height: calc(100vh - 100px);
  position: relative;
  background-color: #a1adff;
}
header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-image: url(./assets/img/nube.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  gap: 10px;
  color: black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
header h1 {
  margin: 0;
  font-family: "marioBros";
  font-size: x-large;
}
header img {
  height: 40px;
}
.menu-container {
  /* background-color: rgba(255, 0, 0, 0.352); */
  height: 600px;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  z-index: -1;
  transition: all 0.5s ease;
  opacity: 0;
}
.menu-container.open {
  z-index: 9;
  opacity: 1;
}
.count-regresive {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  font-family: "marioBros";
  color: orange;
  z-index: 10;
}
.race-container {
  height: 545px;
  background-color: #a1adff;
  z-index: 0;
  position: relative;
  padding-top: 20px;
}
.goal {
  height: 500px;
  width: 30px;
  position: absolute;
  right: 0;
  top: 60px;
  background-image: url(./assets/img/meta.jpg);
  background-size: 300%;
  z-index: 1;
}
.topBush {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  background-image: url(./assets/img/pasto.png);
  background-size: cover;
}
.downBush {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-image: url(./assets/img/pasto.png);
  background-size: cover;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .topBush {
    background-size: 30%;
  }
  .downBush {
    background-size: 30%;
  }
  header {
    background-size: 160px;
  }
}
