@font-face {
  font-family: "marioBros";
  src: url(./assets/fonts/SuperMario256.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(./assets/fonts/Roboto-Regular.ttf);
}
:root {
  font-family: "Roboto";
}
