@font-face {
  font-family: "marioBros";
  src: url(../public/SuperMario256.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../public/Roboto-Regular.ttf);
}
:root {
  font-family: "Roboto";
}
